* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   }
   /* uilities classes  */
   .margin {
       margin: 0 12% 0 12%;
   }
   
   .flex {
       display: flex;
       justify-content: space-between;
       /* align-items: center; */
   }


   /* Footer css started  */
   #footer {
        width: 100%;
        height: 1550px;
        margin-top: 5%;
        background-color: #101010;
        color: white;
   }

   #footer .container {
    width: 80%;
    padding: 50px 0 0px 0;
    /* justify-content: space-around; */
   }
   #footer .container ul li {
    list-style: none;
    line-height: 30px;
   }

   #footer .container ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 12px;
   }
  
   #footer .container .box3 {
        margin-right: 10%;
   }

   #footer .container .box3 li img {
        width: 180px;
   }

   #footer .container .box3 li > div img {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid rgb(187, 184, 184);
}

#footer .container .box3 .social-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    width: 80%;
}

#footer .container .box3 .social-icon i {
    font-size: 30px;
    transition: ease-in-out .40s;
    cursor: pointer;
}

#footer .container .box3 .social-icon i:hover {
    color: black;
    background-color: aliceblue;
    border-radius: 3px;
}

#footer .container .box3 li p {
    margin: 20px 0 10px 0;
    font-size: 14px;
}

#footer .container .box3 li .seller {
    width: 70%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    background-color: #202020;
    border-radius: 6px;
    /* border: 1px solid red; */
}
#footer .container .box3 li .seller p {
    font-size: 12px;
}

#footer .container .box3 li .seller img {
    width: 35px;
    height: 70%;
    background-color: white;

}

/* Locality css */
.locality-list {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    gap: 20px;
}

.locality-list p {
    margin-top: 10px;
}


/* Footer 2 Css  */
/* #footer2 {
    background-color: #202020;
} */
/* #footer2  {
    width: 80%;
} */
#footer2 .container  {
    width: 70%;
}

#footer2 .container  ul li {
   list-style: none;
}
#footer2 .container ul li a {
    text-decoration: none;
}


/* Copyright css  */
.copyright {
    margin: 0;
    padding-left: 12%;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    background-color:black;
}